#globalnav-nav {
  top: 0;
  left: 0;
  position: sticky;
  flex-direction: row;

  & > div {
    flex-direction: row;
    flex-grow: 1;
  }

  & > .search-bar-e6d3c40 {
    flex-grow: 3;
    justify-content: flex-start;

    & > form {
      flex-direction: row;
      align-items: stretch;

      & > input {
        flex-grow: 1;
        margin: 0.3rem;

        outline: none;
        & :focus,
        & :hover {
          outline: 0.2rem solid var(--colour-brand-primary) !important;
        }
      }
    }
  }

  & > .socials-e6d3c40 {
  }

  & > .btns-e6d3c40 {
  }
}
