/*

!src
!.gitignore
!.cargo
!Cargo.lock
!Cargo.toml
!README.md
!assets
!xtask
!.rustfmt.toml
!crates
!YMap.code-workspace
!YMap-website.code-workspace
!_typos.toml

## YMap
!init.surql
!init.surql.rs
!xcode
!secrets_template.rs
!test.nu
!website
