/*

!src
!.gitignore
!Cargo.lock
!Cargo.toml
!index.html
!README.md
!Trunk.toml
!assets
!run.nu
!xtask
!.cargo
!.rustfmt.toml

# todo: move xcode into nested project
!bevy_mobile_example.xcodeproj
# Makefile
!build_rust_deps.sh
