/*

!.cargo
!app
!dioxus
!utils
!mathquill
!db
!thing
!cas
!latex
!generic-error
!leptos-rsx

# can remove
!testing

!.env.toml
!.gitignore
!Cargo.lock
!Cargo.toml
!CHANGELOG.md
!README.md
!rustfmt.toml
!rust-toolchain.toml
!TODO.md
