@use "prio";
@use "reset";
@use "brand";
@use "components/stylance";

@layer agressive-resets {
  // agressive reset!
  * {
    margin: 0;
    padding: 0;
    /* width: 100%; */
    /* height: 100%; */

    /* This is apparently safe and wise https://www.w3schools.com/csS/css3_box-sizing.asp */
    box-sizing: border-box;

    list-style: none;
    /* font: inherit; */
    text-align: center;

    user-select: none;
    text-decoration: none;
    /* color: var(--text-primary); */

    display: flex;
    /* Flex alignment defaults */
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    justify-content: space-evenly;
  }
}

script,
style,
title {
  display: none !important;
}

html,
body {
  text-align: center;
  margin: 0;
  padding: 0;

  display: block !important;

  /* https://stackoverflow.com/questions/47095596/body-overflow-x-hidden-breaks-position-sticky */
  /* https://www.terluinwebdesign.nl/en/css/
  position-sticky-not-working-try-overflow-clip-not-overflow-hidden/ */
  overflow-x: clip;
}

main {
  /* display: block; */
  top: 48px;

  min-height: calc(90vh);
}
