@layer baseline {
    /* App-wide styling */
    body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }

    img {
        max-width: 100%;
        display: block;
    }

    /* Remove all animations and transitions for people that prefer not to see them */
    @media (prefers-reduced-motion: reduce) {
        * {
            animation-duration: 0.01ms !important;
            animation-iteration-count: 1 !important;
            transition-duration: 0.01ms !important;
            scroll-behavior: auto !important;
        }
    }

    html,
    body,
    main {
        margin: 0;
        padding: 0;

        min-height: 100vh;
        width: 100vw;

        scroll-behavior: smooth;
        text-rendering: optimizeLegibility;
        line-height: 1.5;
    }

    *:not(table *, script, style, title, meta) {
        display: flex;
    }

    * {
        flex-direction: column;
        align-items: stretch;
        align-content: stretch;
        justify-content: space-evenly;

        /* This is apparently safe and wise https://www.w3schools.com/csS/css3_box-sizing.asp */
        box-sizing: border-box;
    }
}

@layer brand {
    :root {
        --colour-brand-h: 210;

        --colour-primary: hsl(var(--colour-brand-h) 50% 90%);
        --colour-secondary: hsl(calc(var(--colour-brand-h) + 0) 50% 10%);
        --colour-tertiary: hsl(calc(var(--colour-brand-h) + 60) 80% 20%);
        --colour-accent: hsl(calc(var(--colour-brand-h) - 60) 80% 20%);
    }
    .dark {
        --colour-primary: hsl(var(--colour-brand-h) 50% 10%);
        --colour-secondary: hsl(calc(var(--colour-brand-h) + 0) 50% 90%);
        --colour-tertiary: hsl(calc(var(--colour-brand-h) + 60) 80% 80%);
        --colour-accent: hsl(calc(var(--colour-brand-h) - 60) 80% 80%);
    }

    body {
        background-color: var(--colour-primary);
    }
}
